@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background-color: #F8F9FB;
  font-family: 'Manrope', sans-serif;
  color: #27282C;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #E8E9ED;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #c4c6d0;
}